  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Software Company
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year<a href="https://meirbina.com/"> Meirbina Limited</a>.</strong> 
  </footer>